
<nav>
  <div class="container mx-auto flex items-center justify-between p-4">
    <div class="logo">
      <a href="#" class="text-2xl font-bold text-black">Brew & Bloom</a>
    </div>
    <div class="nav-links">
      <ul class="flex items-center space-x-4">
        <li><a href="/menu">Menu</a></li>
        <li><a href="/about" class="text-black">About</a></li>
        <li><a href="/contact" class="text-black">Contact</a></li>
      </ul>
  </div>
  </div>
</nav>

<main>
  
</main>

<router-outlet />